@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em 2em;
    background: url('/assets/images/blob-scene-haikei-colored.svg') no-repeat;
    background-size: cover;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
        max-width: 5em;
    }

    h1 {
        color: #e4d7d7;
        text-align: center;
        font-size: 1.2rem;
    }
}

main {
    padding-top: 2em;

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        h4 {
            // font-size: 1rem;
            color: #fdfdfd;
            text-align: center;
            line-height: 2.5em;
            border-left: 5px dotted #fc8f02;
            padding: 10px;
        }

        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }

}

aside {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    h4 {
        text-decoration: underline 1px dashed #fff;
        text-underline-offset: 10px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        img {
            max-width: 100%;
            border-radius: 10px;
            border: solid #1e1f1d 2px;
        }
    }
}

.bulletpoints {
    background: url('/assets/images/bullet-points-overlay.svg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 2em;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;


    ul {
        display: flex;
        flex-direction: column;
        padding-left: 5em;

        li {
            padding: 10px 0;

            p {
                color: #fff;
            }
        }
    }
}

.our-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .call-us {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: #fff;
            transition: 0.2s;
            padding: 10px;
            font-weight: bold;

            &:hover {
                background-color: #000000;
                color: #e41a1a;
                border-radius: 10px;
            }
        }
    }

    .social-media {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
        gap: 2em;

        h5 {
            text-align: center;
        }

        li {
            list-style-type: none;
            align-self: flex-start;

            a {
                color: #000;
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 1em;

                i {
                    font-size: 2rem;
                }
            }
        }
    }
}