@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em 2em;
    background: url('/assets/images/blob-scene-haikei-lastchoice.svg') no-repeat;
    background-size: cover;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
        max-width: 5em;
    }

    h1 {
        color: #131212;
        text-align: center;
        font-size: 1.2rem;
    }
}

main {
    padding-top: 2em;

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        h4 {
            font-size: 0.8rem;
            color: #061102;
            text-align: center;
            line-height: 2.5em;
            border-left: 5px dotted #cec9c9;
            padding: 10px;
        }

        Img {
            max-width: 100%;
            border-radius: 20px;
        }

        hr{
            width: 80% !important;
        }
    }

}

aside {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    h4 {
        text-decoration: underline 1px dashed #0b0430;
        text-underline-offset: 10px;
        color: #d4c5b0;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        img {
            max-width: 100%;
            border-radius: 10px;
            border: solid #1e1f1d 2px;
        }
    }
}

.bulletpoints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 2em;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;


    ul {
        display: flex;
        flex-direction: column;
        margin-left: -120px;

        li {
            padding: 10px 0;

            p {
                color: #fff;
            }
        }
    }
}

.our-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;

    h4{
        color: #fff;
    }

    .call-us {
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin-top: 2em;
            color: #46d433;
        }
        a {
            color: #46d433;
            transition: 0.2s;
            padding: 10px;
            font-weight: bold;

            &:hover {
                background-color: #000000;
                color: #e41a1a;
                border-radius: 10px;
            }
        }
    }

    .social-media {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
        gap: 2em;

        h5 {
            text-align: center;
            color: #fff;
        }

        li {
            list-style-type: none;
            align-self: flex-start;

            a {
                color: #f7ca06;
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 1em;
                font-weight: bold;

                i {
                    font-size: 2rem;
                    color: #ffee00;
                }
            }
        }
    }
}

hr{
    width: 70%;
    color: #000;
    border: none;
    outline: #000 solid 1px;
    margin: 0 auto;
}

footer{
    margin-top: 2em;
    text-align: center;
    color: #fff;

}